# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Segredos/ambiente
.env
.env.*
*.local

# Logs e temporários
logs/
*.log
send.log
tmp/
temp/
*.tmp
.DS_Store

# Build/coverage
dist/
build/
coverage/

# Bot (mídias e caches)
stickers/
stickersolds/
stickers.db
videos/
tokens/
nsfwjs/

# Sessões Venom/Open-WA/WPPConnect
tokens*/
.venom/
WPPConnect-*/ 
chats*/ 
Auth*/ 

# Modelos grandes
*.h5
*.bin
*.pb
*.onnx
